cbody{
    font-family: 'Times New Roman';
}

h2{
    font-family: 'Courier New';
}

.navbar{
    font-size: 25px;
    background-color: #fad5e5;
}

.nav-item{
    border-radius: 20px;
    font-weight:500;
    align-items: center;
    margin-right: 40px;
    font-weight: bold;
    background-color: pink;

}

.nav-item:hover{
    background-color: #F3CFC6;
    color: white;
    
}

.custom-btn{
    display: inline-block;
    background-color: #c2dcc1; 
    color: #2b4c3f;            
    padding: 10px 24px;
    border-radius: 50px;       
    text-decoration: none;     
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.2s ease;
}

.custom-btn:hover {
    background-color: #a9caa7;
    color: #2b4c3f;
    text-decoration: none;
}

.logo-image{
    border-radius: 60px;
    width: 100px;
}

#crochet-carousel{
    position: relative;
    width: 100%;
}

.carousel-item{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.carousel-inner{
    height: auto;

}

.slide-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Perfect dead-center alignment */
    
    width: 90%;
    max-width: 650px; 
    background-color: rgba(0, 0, 0, 0.65); /* Dark translucent box */
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

section{
    padding-top:80px;
    padding-bottom:80px;
}

.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card-body {
    background-color: pink;
    text-align: center;
    
}
footer{
    margin-top:50px;
    background-color: #fad5e5 ;
}