body{
    font-family: 'Times New Roman';
}

.navbar{
    background:#FCEEF4;
    height:100px;
    padding:0 60px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.custom-navbar{
    background:#FCEEF4;
    height:100px;
    padding:0;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.logo-image{
    width:90px;
    height:auto;
    border-radius:50%;
    object-fit:contain;
    display:block;
}

.navbar-nav{
    gap:70px;
}

.nav-item-custom{
    position:relative;
    font-size:1.35rem;
    font-weight:600;
    color:#4F3A45;
    text-decoration:none;
    padding:35px 0;
    transition:.25s;
}

.nav-item-custom:hover{
    color:#D88BA7;
}

.nav-item-custom::after{
    content:"";
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:18px;
    width:0;
    height:4px;
    background:#D88BA7;
    border-radius:50px;
    transition:width 0.3s ease;
}

.nav-item-custom:hover::after{
    width:100%;
}

.active-nav{
    color:#D88BA7;
}

.active-nav::after{
    width:100%;
}

.nav-link{
    color:#4F3A45;
    font-weight:600;
    font-size:21px;
    padding:35px 0;
}

.nav-link:hover{
    color:#D88BA7;
}

.custom-btn{
    display:inline-block;
    background:#FAD5E5;
    color:#4F3A45;
    text-decoration:none;
    border-radius:80px;
    font-weight:bold;
    font-size:20px;
    transition:.3s;
}

.custom-btn:hover{
    background:#BFD3AA;
    color:black;
}

#crochetCarousel{
    position:relative;
}

#crochetCarousel .carousel-item{
    height:700px;
}

#crochetCarousel .carousel-item img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.hero-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.45);
    z-index:1;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:30px;
}

.slide-text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:50%;
    max-width:750px;
    text-align:center;
    z-index:2;
    background:rgba(0,0,0,.65);
    padding:35px;
    border-radius:20px;
    color:white;
}

.slide-text h1{
    font-size:3rem;
    font-weight:bold;
    margin-bottom:25px;
}

.slide-text p{
    font-size:1.4rem;
    line-height:1.5;
    margin-bottom:30px;
}

section{
    padding-top:80px;
    padding-bottom:80px;
}

.page-section{
    padding-top:150px;
    padding-bottom:150px;
}

.inspiration-section{
    background: #F8F7F4;
    padding: 80px 80px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.inspiration-section h3{
    color:#556B4F;
    margin-bottom:12px;
}

.inspiration-section p{
    font-size:16px;
    margin-bottom:20px;
}

.viewall-container{
    text-align: center;
    margin: 30px;
}
.viewall-btn{
    display:inline-block;
    background:#FAD5E5;
    color:#444;
    padding:12px;
    border-radius:10px;
    text-decoration:none;
    transition:0.3s;
}

.viewall-btn:hover{
    background:#BFD3AA;
    color:black;
}

.section-subtitle{
    text-align:center;
    color: gray;
    font-size: 20px;
    margin-bottom:40px;
}

.section-title{
    text-align:center;
    font-size:42px;
    color:black;
    margin-bottom:15px;
    font-weight: bold;
}

.card{
    background:white;
    border-radius:30px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    transition:0.3s;
    height:100%;
}

.card-img-top{
    width:100%;
    height:500px;
    object-fit:cover;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,0.15);
}

.card-body {
    background-color: pink;
    text-align: center;
    padding:25px;
    
}

.stars{
    font-size:20px;
    margin:15px 0;
}

.project-btn{
    display:inline-block;
    margin-top:15px;
    background:#bfd3aa;
    color:#444;
    text-decoration:none;
    padding:12px 28px;
    border-radius: 20px;
    font-weight:bold;
    transition:.3s;
}

.project-btn:hover{
    background:#a5bf90;
    color:black;
}

.categories-section{
    background:#fff7fa;
}

.category-card{
    background:white;
    border-radius:20px;
    padding:35px;
    text-align:center;
    box-shadow:0 10px 20px rgba(0,0,0,0.08);
    transition:.3s;
}

.category-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,.12);
}

.request-banner h2{
    font-weight: bold;
    font-size:30px;
    margin-bottom:25px;
    padding-top:80px;
    padding-bottom:80px;
}

.request-banner p{
    font-size: 18px;
    color:#555;
    margin-bottom:35px;
}

.request-btn{
    display:inline-block;
    background:#FAD5E5;
    color:#444;
    text-decoration:none;
    padding:15px 35px;
    border-radius:10px;
    font-weight:bold;
    transition:.3s;
    margin-top:15px;
}

.request-btn:hover{
    background:#9FBC82;
    color:black;
    transform:translateY(-4px);
}

.request-image{
    width:100%;
    max-width:250px;
}

.request-content{
    background:#FAF8F2;
    border-radius:25px;
    padding:60px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.request-image{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.footer{
    background-color: #f7e1eb;
    padding:40px 20px 20px;
    text-align:center;
    margin-top:80px;
}

.footer h3{
    color:black;
    font-size:28px;
    margin-bottom:25px;
}

.footer-social{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
    margin-bottom:25px;
}

.footer-social a{
    text-decoration:none;
    color:#444;
    font-size:18px;
    transition:0.3s;
}

.footer-social a:hover{
    color:#65765A;
    transform:translateY(-3px);
}

.footer-bottom{
    border-top:1px solid rgba(0,0,0,0.1);
    padding-top:20px;
    color:#666;
}

